/* ---- Reseteo ---- */

    *{
    margin: 0px;
    padding: 0px;
    }



/* -------------------------------------estilos generales --------------------------------------------------*/
   html {
    font-size: 62,5%;
}
    body{
        font-family: 'DM Sans','Lato', sans-serif; 
        
    }

    .dato-importante{
        font-weight: bold;
    }
/* -----------------Navegación responsive oculta -----------------*/
    .navegacion-responsive{
        display: none;
    }
/* ----------------- Barra de navegación -------------------------- */
    .menu{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        box-shadow: 0 5px 5px rgb(99, 98, 98);
    }

    .menu li{
        list-style: none;
        display: inline-block;
    }

    li a{
        text-decoration: none;  
        color: white; 
        font-size: 1em;
    }

    .menu-item-principal a{
        color: black;
    }

    .menu-item-principal{
        background-color: #f6f6f6;
        font-size: 1.5em;
        padding: 10px;
        padding-left: 2em;
        flex: 5;    
    }
    
    .menu-item{
        font-size: 1.5em;
        padding: 10px;
        width: 11%;
        text-align: center;  
    }
    
    
    #color-inicio{
        background-color: rgb(12, 47, 80, 87%);
    }
    #color-ong{
        background-color: rgb(10, 39, 66, 25%);
      
    }
    #color-contacto{
        background-color: rgb(20, 93, 160,100%);
    }
    
    #color-cat{
        background-color: rgb(23, 73, 119,70%);
    }
    #color-blog{
        background-color: rgb(20, 93, 160,49%);
    }

/*---------------menú desplegable------------------*/
  

    .menu-desplegable-contenido{
        display: none;
       margin: 0 -10px;
       padding: 0 1em;
        background-color: rgba(23, 73, 119, 80%);
   
    }
    .menu-desplegable{
        font-size: 1.5em;
        padding: 10px;
       
        text-align: center; 

    }
    .menu-desplegable:hover .menu-desplegable-contenido{
        display: block;
        position: absolute;
       
    }
    .menu-desplegable-contenido li{
        display: block;
    }

 


    /* -------------estilos de footer----------------*/
    footer{
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        position: relative;
        bottom: 0px;
        height: 150px;
        width: auto;
        background-color: #0A2742;
        color: #f6f6f6;
        padding: 1em;
    }

    footer li{
        list-style:none;
    }

    .info-footer{
        width: 30%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-right: 2em;
        margin-right: 1em;
    }

    .info-footer p{
        font-size: 1em;
        margin-top: 1em;
    }

    .mapa{
        width:150px;
        height:150px;
        margin-top: 0px;
        overflow: hidden;
        margin-bottom: 1em;
    }
    .info-contacto{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-self: center;
        line-height: 1.5em;
        
    }
    .telefonos-utiles{
        width: 30%;
    }
    .telefonos-utiles span{
        display: block;
    }
    .telefonos-utiles p{
        text-align: end;
    }
/*----------------------------estilos de index----------------------------------------------------*/
.portada{
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(../imagenes/fondo-inicio.png);
    background-repeat: no-repeat;
}

.presentacion{
    padding-top: 1em;
    width: 75%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.presentacion p{
    display: inline-block;
    line-height: 1.5em;
    font-size: 1.5em;
    height: 200px;
    padding-left: 1em;  
    margin: 10px;
}
.presentacion h1{
    display: inline-block;
    flex:4;
    padding-left: 1em;
    height: 200px;
    vertical-align: middle;
    padding-right: 1em;
    margin: 10px;
}
/*--------------------------------------------------estilos de blog y ONGs-----------------------------------------------------*/

.contenido{
    margin-top: 5em;
    width: auto;
    min-height: 800px;
}

/*--------------------------------------------------estilos de contacto-------------------------------------------------*/
.caja-contenedora{
    margin:1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

legend{
    font-size: 2em;
}

:placeholder{
    padding-left: 2em;
}

.caja-mensaje-formulario{
    font-size: 1em;
    padding: 2em;
    text-align: justify;
    width: 40%;
    margin: 1em;
}

.caja-mensaje-formulario p{
    margin: 0 auto;
}

.mensaje-contenido-alternativo{
    display: none;
}

.datos-formulario{
    margin: 1em;
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.datos-formulario input{   
    width:49%;
    margin: 0.2em auto;
    
}

#motivo-contacto{
    width: 100%;
    margin: o.2em; /* sé que no es un cero, pero era la única forma de que quede parejo, no sé por qué*/
}
#mensaje{
    margin-top: 0.2em;
    width: 100%;
}
#email{
    width: 100%;
}

.botonera{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
    margin-top: 5px;
}

.botonera .input{
    padding: 50px;
    
}

.botonera .btn-enviar, .botonera .btn-limpiar{
    width: 25%;    
}

#btn-limpiar, #btn-enviar{
    background-color: #0A2742;
    color: white;
    padding: 9px;
    margin: 3px;
    width: 75%;
}


/* ----------------------------------------Responsive --------------------------------------------*/
    /* -----------------menu hamburguesa-------------*/

    .menu-hamburguesa{
        display: none;
    }

    .menu-desplegable-hamburguesa{
        display: inline-block;
        position: relative;
    }
    .menu-desplegable-contenido-hamburguesa{
        display: none;
        font-size: 19px;
        width:300px;
    }

    .menu-desplegable-hamburguesa:hover .menu-desplegable-contenido-hamburguesa{
        display: block;
        position: absolute;
        text-align: center;
        background-color: grey;
    }

    .btn-menu-desplegable-hamburguesa{
        background-color: transparent;
        border: none;
        color: black;
        font-weight: bold;
        font-size: 1em;
    }

    input:checked ~ ul{
        display: block;
    }

    .navegacion-responsive input{
        display: none;
    }
    
    nav label{
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }
      
      #logo{
        text-decoration: none;
        color: #000;
        padding-left: 1em;
        flex: 4;
        width:max-content;
        font-size: 1.5em;
        background-color:transparent;
       
      }
      .menu-hamburguesa li{
        display: block;
        background: grey;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
        font-weight: bold;
      }

      .menu-hamburguesa li a{
        color: black;
        display: block;
        
      }
   
/* ---- pantalla monitor grande (1280*1024)---- */

@media screen and (min-width:1400px) {
    body{
        width: 75%;
        margin: 0 auto;
    }
    .caja-contenedora{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 1em 0;
        justify-content: space-evenly;
       
    }
    .caja-mensaje-formulario{
       
        font-size: 1em;
         line-height: 2em;
    }
     #motivo-contacto, #mensaje{
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        padding: 0.5em 0;
      
    }

    .datos-formulario input{
        width: 49%;
        padding: 0.5em 0;
    }
    
   
}

@media screen and (min-width:901px) and (max-width:1199px){
    body{
        width: 100%;
    }
    .datos-formulario input{
        width: 100%;
    }
   
}

/* ---- pantalla tablet (768- 1023)---- */
@media screen and (min-width:481px) and (max-width:900px){
    body{
        width: 100%;
        
    }
    .navegacion-desktop{
        display: none;
    }
    .navegacion-responsive{
        display: contents;
    }
    
    

    .portada{
        display: flex;
        flex-direction: column;
   }
    .presentacion{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        justify-content: space-evenly;
    }

    .presentacion p{
        width: auto;
        height: max-content;
        margin-top: 1em;
        text-align: center;
        padding-left: 1em;
        line-height: 1em;
    }
    
    .presentacion h1{
    
        text-align: center;
        width: auto;
        flex: 0;
    }

    /* ----- estilos contacto -----*/
    .caja-contenedora{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .caja-mensaje-formulario{
        display: none;
    }
    .mensaje-contenido-alternativo, .datos-formulario{
        width: auto;
    }
    .mensaje-contenido-alternativo{
        display: block;
        background-color: #0A2742;
        color: white
    }
}

/*-----pantalla pequeña 320 en vertical o 480 en horizontal----*/
@media screen and (max-width: 480px){
   
    .navegacion-desktop{
        display: none;
    }
    .navegacion-responsive{
        display: contents;
    }
    .portada{
        display: flex;
        flex-direction: column;
   }
    .presentacion{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        justify-content: space-evenly;
    }

    .presentacion p{
        width: auto;
        height: max-content;
        margin-top: 1em;
        text-align: center;
        padding-left: 1em;
        line-height: 1em;
    }
    
    .presentacion h1{
    
        text-align: center;
        width: auto;
        flex: 0;
    }

    .caja-contenedora{
        display: flex;
        flex-direction: column;
        width: auto;
        
    }
    .caja-mensaje-formulario{
        display: none;
    }
    .mensaje-contenido-alternativo{
        display: block;
        background-color:#0A2742;
        color: white;
    }
    .mensaje-contenido-alternativo, .datos-formulario{
        width: auto;
    }
    .menu-item-principal{
        display: none;
    }
    .datos-formulario input{   
       
        margin: 0;
    }
    
}
 /* ----- estilos ong -----*/
.banner{
    display: flex;
    justify-content:center;
    background: #0A2742;
    text-align: center;
    color: #f6f6f6;
     width:100%;
     height: 80%;
     font-size: 250%;
    
}
.inferior{
    display: flex;
    justify-content:center;
    margin-top: 1em;
    padding-left: 15px;
}
.card mb-3{
    width: 15rem;
    margin-top: 3px;

}
 .voluntarios{
    display: flex;
    justify-content:center;
    margin-top: 1em;
}

.sup{
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 1em;
}
.card_sup{
   
    flex-direction: column;
    justify-content: center;
    
}
.inferior .card{
    width: 26rem;
}

 .card{ 
  display: flex;
  justify-content: center;
  margin-left: 3%;
  margin-bottom: 4px;
  width: 38rem;

}
    .card-title{
    font-family: 'DM Sans','Lato', sans-serif; 
    font-size: 18px;
    font-weight: bold;
    color: #0A2742;
    text-align: left;
    }

    .card-text{
        font-family: 'DM Sans','Lato', sans-serif; 
        text-align: left;
        text-align-last: left;
    
    }
.card .card-img-top{
    display: flex;
    width: 100%;
    height: 410px;
}

.inferior .card{
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 410px;
}
/* ---- pantalla monitor grande (1280*1024)---- */

@media screen and (min-width:1400px) {
    .voluntarios{
        display: flex;
            flex-direction: column;
       }
   
       
}
@media screen and (max-width:900px) {
    .voluntarios{
        display: flex;
            flex-direction: column;
       }
       
       .card_sup{
        display:none
       }
      
}
/* ---- pantalla tablet (768- 1023)---- */
@media screen and (min-width:481px) and (max-width:900px){

    .inferior .card{
     width: 100%;
    }
}

/*-----pantalla pequeña 320 en vertical o 480 en horizontal----*/
@media screen and (max-width: 480px){
    .sup{
        margin: 5%;

    }
    .banner{
        display: none;
    }
    .card_sup{
        display:none
       }
       .inferior .card{
        display: none;
    }
 /* ----- estilos blog -----*/
 .datos{
    margin-top: 0;
    display: flex;
    width: 100%;
    height: 500px;
 }
 .navbar bg-light{
    width: auto;
    margin-left: 80px;
        margin-top: 1em;
 }